<div id="sn-top-wrapper" class="sn-top-wrapper">
    <div class="sn-inner-wrapper" data-sn-padding="0">
        <div class="sn-menu-item sn-menu-item-main sn-float-left">
            <span class="sn-menu-icon material-icons">menu</span>            
        </div>
        <div class="sn-logo-item" data-sn-padding="5">
            <span class="sn-block-td">
                Vidyo.in
            </span>
        </div> 
    </div>
</div>

<div id="sn-left-wrapper" class="sn-left-wrapper">
    <div class="sn-inner-wrapper" data-sn-padding="0">        
        <div class="sn-menu-item">
            <span class="sn-menu-icon material-icons">supervisor_account</span>
        </div>        
    </div>
</div>